[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
black = "==21.7b0"
darker = "*"
flake8-bugbear = "*"
pylint = "*"

[packages]
numpy = "*"
scipy = "*"

[pipenv]
allow_prereleases = true
