[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
black = "*"
build = "*"
darker = "*"
flake8-bugbear = "*"
flake8-simplify = "*"
flake8-comprehensions = "*"
pylint = "*"
pytest = "*"

[packages]
numpy = "*"
scipy = ">=1.10.0"

[pipenv]
allow_prereleases = true
